<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">    
    <ul class="navbar-nav">
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="" class="nav-link">Login</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" (click)="goToHome()" class="nav-link">Home</a></li>
      <li style="margin-left: 500px;font-size: large;"><a  class="nav-link">Insurance Management System</a></li>
      <li *ngIf="loginService.isUserLoggedIn()" style="margin-left: 400px;"><a  class="nav-link">User :{{loginId}}</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
     </ul>
    </nav>
    </header>