<div class="appHeader">
    <h4>Add Insurance Details</h4>
</div>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Login Form -->
      <form [formGroup]="addInsuranceDetailsForm" (ngSubmit)="submitForm()">

        <div class="form-group col-xs-2">
            <input type="text" placeholder= "Insurance Id" formControlName="insuranceId" class="form-control" />
        </div>

        <div class="form-group col-xs-2">
            <input type="text" placeholder= "Insurance Name" formControlName="insuranceName" class="form-control" />
        </div>

        <div class="form-group col-xs-2">
            <input type="text" placeholder= "Insurance Type" formControlName="insuranceType" class="form-control" />
        </div>

        <div class="form-group col-xs-2">
            <input type="text" placeholder= "Tenure" formControlName="tenure" class="form-control" />
        </div>

        <div class="form-group col-xs-2">
            <input type="text" placeholder= "Insurance Assured Amount" formControlName="insuranceAssuredAmount" class="form-control" />
        </div>

        <div class="form-group col-xs-2">
            <input type="text" placeholder= "Premium" formControlName="premium" class="form-control" />
        </div>
      
        <div class="form-group col-xs-2">
          <button  class="btn btn-success" >Save</button>
      </div>
      </form>
      <div><H2 style="color: red;">{{errorMessage}}</H2></div>
    </div>
  </div>